
/* tela listagem*/
.icone-inicial{

	vertical-align: -6px;
}
.cadastro{
	padding-right: 3px;
}

/*tela cadastro*/
.titulocard{
	text-align: center;
	border-color:  black;
	background-color: black;
	color: white;
}

.card{
	border-color: black;
}

span{
	color: red;
}

button{
	margin-top: 5%;
	margin-bottom: 5%;
}