<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header titulocard">
					Cadastro de Pessoas
				</div>
				<div class="card-body">
					<form name="form1" ng-submit="cadastrar(pessoa)">
						<fieldset>
							<legend>Dados Pessoais</legend>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="nome">Nome</label>
										<input type="text" class="form-control" name="nomePessoa" ng-model="pessoa.Nome" placeholder="Nome" ng-required="true">
										<span ng-class="error" ng-show="form1.nomePessoa.$error.required">* Obrigatório</span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="datanasc">Data de nascimento</label>
										<input type="date" class="form-control" ng-model="pessoa.dataNascimento" name="datanasc" ng-required="true">
										<span ng-class="error" ng-show="form1.datanasc.$error.required">* Obrigatório</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group ">
										<label for="identidade">Identidade</label>
										<input type="text" class="form-control" ng-model="pessoa.cpf" name="identidade" ng-required="true">
										<span ng-class="error" ng-show="form1.identidade.$error.required">* Obrigatório</span>
									</div>
								</div>
								<div class="col-md-6">
									<label for="">Sexo</label>
									<select class="form-control" ng-model="pessoa.sexo" ng-required="true" name="sexoo">
										<option value="Masculino">Masculino</option>
										<option value="Feminino">Feminino</option>
									</select>
									<span ng-class="error" ng-show="form1.sexoo.$error.required">* Obrigatório</span>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend>Endereço</legend>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group ">
										<label for="rua">Rua</label>
										<input type="text" class="form-control" ng-model="endereco.rua" id="rua">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group ">
										<label for="numero">Número</label>
										<input type="text" class="form-control" id="identidade" ng-model="endereco.numero">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group ">
										<label for="bairro">Bairro</label>
										<input type="text" class="form-control" id="bairro" ng-model="endereco.bairro">
									</div>
								</div>
							</div>
						</fieldset>
						<button type="submit" class="btn btn-primary" ng-disabled="form1.$invalid">Enviar</button>
						<a href="#!/">
							<button type="button" class="btn btn-primary">Voltar para a listagem</button>
						</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>