<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header titulocard">
					Editar Pessoas
				</div>
				<div class="card-body">
					<form name="form2" ng-submit="modificar(pessoa.PessoaId,pessoa)">
						<fieldset>
							<legend>Dados Pessoais</legend>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="nome">Nome</label>
										<input type="text" class="form-control" name="nomePessoa" value={{pessoa.Nome}} ng-model="pessoa.Nome" placeholder="Nome"
										 ng-required="true">
										<span ng-class="error" ng-show="form2.nomePessoa.$error.required">* Obrigatório</span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="datanasc">Data de nascimento</label>
										<input type="date" class="form-control" value="{{dataformatada}}" ng-model="dataParaSalvar" name="datanasc">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group ">
										<label for="identidade">Identidade</label>
										<input type="text" class="form-control" value="{{pessoa.cpf}}" ng-model="pessoa.cpf" name="identidade" ng-required="true">
										<span ng-class="error" ng-show="form2.identidade.$error.required">* Obrigatório</span>
									</div>
								</div>
								<div class="col-md-6">
									<label for="">sexo</label>
									<select class="form-control" ng-model="pessoa.sexo" ng-required="true" name="sexoo">
										<option value="Masculino">Masculino</option>
										<option value="Feminino">Feminino</option>
									</select>
									<span ng-class="error" ng-show="form2.sexoo.$error.required">* Obrigatório</span>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend>Endereço</legend>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group ">
										<label for="rua">Rua</label>
										<input type="text" class="form-control" value="{{enderecoFormatado[0]}}" id="rua" ng-model="enderecoFormatado[0]">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group ">
										<label for="numero">Número</label>
										<input type="text" class="form-control" value="{{enderecoFormatado[1]}}" ng-model="enderecoFormatado[1]">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group ">
										<label for="bairro">Bairro</label>
										<input type="text" class="form-control" id="bairro" value="{{enderecoFormatado[2]}}" ng-model="enderecoFormatado[2]">
									</div>
								</div>
							</div>
						</fieldset>
						<button type="submit" class="btn btn-primary" ng-disabled="form2.$invalid">Enviar</button>
						<a href="#!/">
							<button type="button" class="btn btn-primary">Voltar para a listagem</button>
						</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>