<div class="container">
	<div class="row">

		<div class="col-sm-12">
			<div class="card">
				<div class="card-header titulocard">
					Exclusão de Pessoas
				</div>
				<div class="card-body">

					<form>
						<fieldset>
							<legend>Dados Pessoais</legend>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="nome">Nome</label>
										<input type="text" class="form-control" id="nome" value="{{pessoa.Nome}}" disabled="disabled">
										<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group ">
										<label for="identidade">Identidade</label>
										<input type="text" class="form-control" value="{{pessoa.cpf}}"id="identidade" disabled="disabled">
									</div>
								</div>
							</div>
						</fieldset>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Excluir</button>
						<a href="#!/">
							<button type="button" class="btn btn-primary">Voltar para a listagem</button>
						</a>
					</form>

					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Confirmação de exclusão de PESSOA</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">

									<p>Você está prestes a remover a pessoa x do cadastro.</p>

									<p>
										<strong>Você está certo que deseja prosseguir?</strong>
									</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="excluir(pessoa.PessoaId)">sim,exclua a pessoa</button>
									<button type="button" class="btn btn-primary" data-dismiss="modal">não,não exclua a pessoa</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>