<div class="container">
	<div class="row">
		<div class="col-md-3 offset-md-9 offset-sm-6">
			<form class="form-inline ">
				<div class="input-group mb-3">
					<input type="text" class="form-control" ng-model="busca" placeholder="Buscar" aria-label="Recipient's username" aria-describedby="basic-addon2">
					<div class="input-group-append">
						<span class="input-group-text" id="basic-addon2">
							<i class=" material-icons icone-inicial">search</i>
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<table class="table table-striped table-bordered table-sm">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nome</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="pessoa in pessoas | filter: busca">
					<th scope="row">{{pessoa.PessoaId}}</th>
					<td>{{pessoa.Nome}}</td>
					<td>
						<a href="#!/editar/{{pessoa.PessoaId}}">
							<i class="material-icons" data-toggle="tooltip" data-placement="top" title="Editar">edit</i>
						</a>
					</td>
					<td>
						<a href="#!/excluir/{{pessoa.PessoaId}}">
							<i class="material-icons" data-toggle="tooltip" data-placement="top" title="Excluir">delete</i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-md-4">
			<a href="#!/cadastro">
				<button class="btn btn-success ">Adicionar Pessoa</button>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 offset-sm-4 ">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>