<div class="container">
    <div class="row">
        <div class="col-md-5">
            <canvas id="myChart" width="50" height="50"></canvas>
        </div>
        <br>
        <div class="col-md-6">
            <canvas id="myChart2" width="50" height="50"></canvas>
        </div>
    </div>
    
    
</div>